<div class="outer">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h2 class="pt-3 fw-bold">Sign Up</h2>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="signupForm">

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="signupForm.controls['firstname'].dirty && signupForm.hasError('required', 'firstname')">
                  <span><fa-icon [icon]="faUser" class="p-2"></fa-icon></span>
                  <input formControlName="firstname" type="text" name="" placeholder="First Name">
                </div>
              </div>
              <small *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required', 'firstname')" class="text-danger">*First Name is required.</small>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="signupForm.controls['lastname'].dirty && signupForm.hasError('required', 'lastname')">
                  <span><fa-icon [icon]="faUser" class="p-2"></fa-icon></span>
                  <input formControlName="lastname" type="text" name="" placeholder="Last Name">
                </div>
              </div>
              <small *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required', 'lastname')" class="text-danger">*Last Name is required.</small>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">
                  <span><fa-icon [icon]="faEnvelope" class="p-2"></fa-icon></span>
                  <input formControlName="email" type="email" name="" placeholder="Email">
                </div>
              </div>
              <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')" class="text-danger">*Email is required.</small>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="signupForm.controls['username'].dirty && signupForm.hasError('required', 'username')">
                  <span><fa-icon [icon]="faUser" class="p-2"></fa-icon></span>
                  <input formControlName="username" type="text" name="" placeholder="Username">
                </div>
              </div>
              <small *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required', 'username')" class="text-danger">*Username is required.</small>

              <div class="form-group pt-3">
                <div class="input-field" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">
                  <span><fa-icon [icon]="faLock" class="p-2"></fa-icon></span>
                  <input formControlName="password" [type]="showPassword ? 'text' : 'password'" name="" placeholder="Password">
                  <span (click)="showHidePass()">
                    <fa-icon [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
                  </span>
                </div>
              </div>
              <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="text-danger">*Password is required.</small>

              <button (click)="onSignUp()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign UP</button>

              <div class="text-center pt-4 text-muted">Already have an account?
                <a id="forget" class="fw-semibold" routerLink="/login">Login</a>
              </div>

            </form>
          </div>

          <!-- <div class="mx-3 my-2 py-2 bordert">
            <div class="text-center py-3">
              <a href="https://www.facebook.com" target="_blank" class="px-2">
                <img src="https://www.freepnglogos.com/uploads/facebook-icons/facebook-icon-transparent-background-3.png" alt="facebook">
              </a>
              <a href="https://www.google.com" target="_blank" class="px-2">
                <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt="google">
              </a>
              <a href="https:/www.github.com" target="_blank" class="px-2">
                <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt="github">
              </a>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
